<a href="https://colab.research.google.com/github/janaabunasser14/ENCS5141-INTELLIGENT-SYSTEMS-LAB/blob/main/Manual_ENCS5141_Exp1_Manipulating_Datasets_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exp 1: Manipulating Datasets using Pandas

## 2.2 Series and DataFrames

### 2.2.1 Creating Pandas Series

Example 1: Create a simple Pandas Series from a list:

In [ ]:
import pandas as pd
# create a simple list
a = [1, 7, 2]
# create series from a list
my_Series = pd.Series(a)
print(my_Series)

0    1
1    7
2    2
dtype: int64

 Example 2: Create a simple Pandas Series from a dictionary

In [ ]:
import pandas as pd
# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
# create series from dictionary
my_Series = pd.Series(calories)
print(my_Series)

day1    420
day2    380
day3    390
dtype: int64

### 2.2.2 Creating Pandas DataFrame

 Example 3: Create a DataFrame from a Series:

In [ ]:
 import pandas as pd
 # Initialize data to a series.
 d = pd.Series([10, 20, 30, 40])
 # creates Dataframe.
 df = pd.DataFrame(d)
 # print the data.
 print(df)

    0
0  10
1  20
2  30
3  40

 Example 4: Creating DataFrame from a Dictionary of lists

In [ ]:
 import pandas as pd
 # initialize the data of lists.
 data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
 'Age': [20, 21, 19, 18]}
 # Create DataFrame
 df = pd.DataFrame(data)
 # Print the output.
 print(df)

     Name  Age
0   Ahmad   20
1     Ali   21
2    Omar   19
3  Hamzah   18

 Example 5: Creating dataframe from two series

In [ ]:
 import pandas as pd
 data = {
 "calories": [420, 380, 390],
 "duration": [50, 40, 45]
 }
 myvar = pd.DataFrame(data)
 print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

 Example 6: Load a CSV file named data.csv into a DataFrame

In [ ]:
 import pandas as pd
 df = pd.read_csv('grades.csv')
 print(df)

    HW1  HW2  Midterm  Project  Final
0     0   78       32       87     71
1     0   37       25       91     48
2    63  100       34       92     59
3    70   93       35       92     64
4    50   75       20       76     42
5    43    0       26       55     54
6     0   47       22        0     37
7    47   80       26       94     56
8    97   97       30       92     60
9    50   67       21       76     38
10   40    0       18       94     35
11   57   87       28       76     47
12   23  100       29       75     44
13   63   50       26       75     58
14   77   93       29       71     52
15   57   83       28       72     62
16   57   87       28       72     45
17   63   50       27       85     44
18   80   97       40       85     68
19   83  100       57       98     94
20  100   95       56       98     85
21   67   73       34       71     62
22   70   87       32       95     58
23   17   80        0       85      0
24   97   97       44       95     68
25   73   87       25       85     53
26   80  100       46       98     81
27   80   90       43       94     64
28   80   93       48       94     77
29   80  100       41       94     78
30   80  100       47       94     81
31   93   47       38       92     59

## 2.3 Exploring DataFrames

 Example 7: using .head() function to print the first five rows of the data set

In [ ]:
 import pandas as pd
 df = pd.read_csv('grades.csv')
 print(df.head())

   HW1  HW2  Midterm  Project  Final
0    0   78       32       87     71
1    0   37       25       91     48
2   63  100       34       92     59
3   70   93       35       92     64
4   50   75       20       76     42

 Example 8: using .tail() function to print the last five rows of the data set

In [ ]:
 import pandas as pd
 df = pd.read_csv('grades.csv')
 print(df.tail())

    HW1  HW2  Midterm  Project  Final
27   80   90       43       94     64
28   80   93       48       94     77
29   80  100       41       94     78
30   80  100       47       94     81
31   93   47       38       92     59

 Example 9: printing the shape of the dataframe

In [ ]:
 import pandas as pd
 df = pd.read_csv('grades.csv')
 print(df.shape)

(32, 5)

Example 10: using .info() function

In [ ]:
 import pandas as pd
 df = pd.read_csv('grades.csv')
 print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   HW1      32 non-null     int64
 1   HW2      32 non-null     int64
 2   Midterm  32 non-null     int64
 3   Project  32 non-null     int64
 4   Final    32 non-null     int64
dtypes: int64(5)
memory usage: 1.4 KB
None

### 2.4.1 Label-based Dataframe Indexing

 Example 11: printing the second column using the label indexing operator

In [ ]:
import pandas as pd
df = pd.DataFrame({'col_1': list(range(1,11)), 'col_2':
                    list(range(11,21)), 'col_3': list(range(21,31)), 'col_4':
                    list(range(31,41)), 'col_5': list(range(41,51)), 'col_6':
                    list(range(51,61)), 'col_7': list(range(61,71)), 'col_8':
                    list(range(71,81)), 'col_9': list(range(81,91))})
print(df)

 Example 12: selecting the values of the first row of the DataFrame using the loc
 indexer

In [ ]:
 print(df.columns)
 print(df.index)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)

In [ ]:
 print(df['col_2'])

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
Name: col_2, dtype: int64

in the code below, I don't have colomn #100 so i comment it.

In [ ]:
 print(df[['col_5', 'col_1', 'col_8']])
 #print(df[['col_5', 'col_1', 'col_8', 'col_100']])

   col_5  col_1  col_8
0     41      1     71
1     42      2     72
2     43      3     73
3     44      4     74
4     45      5     75
5     46      6     76
6     47      7     77
7     48      8     78
8     49      9     79
9     50     10     80

In [ ]:
 print(df.loc[0])

col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64

In [ ]:
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6',
 'row_7', 'row_8', 'row_9', 'row_10']

in the code below, I don't have row #100 so i comment it.

In [ ]:
 print(df.loc[['row_6', 'row_2', 'row_9']])
 #print(df.loc[['row_6', 'row_2', 'row_9', 'row_100']])
 print(df.loc['row_7':'row_9'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6      6     16     26     36     46     56     66     76     86
row_2      2     12     22     32     42     52     62     72     82
row_9      9     19     29     39     49     59     69     79     89
       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_7      7     17     27     37     47     57     67     77     87
row_8      8     18     28     38     48     58     68     78     88
row_9      9     19     29     39     49     59     69     79     89

 CODE BELOW: **Task 1.1:** Print the first 4 rows using the slicing method

In [ ]:
print(df.loc[['row_1', 'row_2', 'row_3', 'row_4']])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

CODE BELOW: **Task 1.2:** Print the last row with columns from col_5 to col_7
df.index[-1] : the label of the last row in the DataFrame.

In [ ]:
print(df.loc[df.index[-1], 'col_5':'col_7'])

col_5    50
col_6    60
col_7    70
Name: row_10, dtype: int64

In [ ]:
df.at['row_6', 'col_3']

26

### 2.4.2 Position-based Dataframe Indexing

In [ ]:
 print(df[3:6])
 print(df.iloc[3])
 print(df.iloc[[9, 8, 7]])
 print(df.iloc[0, [2, 8, 3]])
 print(df.iat[1, 2])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85
row_6      6     16     26     36     46     56     66     76     86
col_1     4
col_2    14
col_3    24
col_4    34
col_5    44
col_6    54
col_7    64
col_8    74
col_9    84
Name: row_4, dtype: int64
        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_10     10     20     30     40     50     60     70     80     90
row_9       9     19     29     39     49     59     69     79     89
row_8       8     18     28     38     48     58     68     78     88
col_3    21
col_9    81
col_4    31
Name: row_1, dtype: int64
22

CODE BELOW:**Task 1.3:** Use iloc with position-based indexing to select rows 8, and 1 and columns 5 to
 9.

In [ ]:
print(df.iloc[[7, 0], 4:9])

       col_5  col_6  col_7  col_8  col_9
row_8     48     58     68     78     88
row_1     41     51     61     71     81

CODE BELOW: **Task 1.4**: Use iloc with position-based indexing to select all rows and columns 1, 3, and
 7.

In [ ]:
# Select all rows and columns 1, 3, and 7 using iloc
print(df.iloc[:, [1, 3, 7]])

        col_2  col_4  col_8
row_1      11     31     71
row_2      12     32     72
row_3      13     33     73
row_4      14     34     74
row_5      15     35     75
row_6      16     36     76
row_7      17     37     77
row_8      18     38     78
row_9      19     39     79
row_10     20     40     80

CODE BELOW: **Task 1.5**:  Selecting all the rows of the dataframe where the value of col_2 is NOT
 greater than 15

In [ ]:
result = df.loc[df['col_2'] <= 15]
print(result)

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85

CODE BELOW: **Task 1.6:** Selecting all the rows of the dataframe where the value of col_2 is greater
 than 15 but not equal to 19

In [ ]:

result = df.loc[(df['col_2'] > 15) & (df['col_2'] != 19)]
print(result)

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_10     10     20     30     40     50     60     70     80     90

In [ ]:
 import pandas as pd
 # Create a sample dataframe
 Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
 'Age': [28, 23, 35, 31],
 'Gender': ['M', 'F', 'M', 'F']
 }
 df = pd.DataFrame(Biodata)
 # Save the dataframe to a CSV file
 df.to_csv('Biodata.csv', index=False)

 **Task 1.7**: Save the above dataframe using tab-separated values

In [ ]:

df.to_csv('Biodata.tsv', sep='\t', index=False)

In [ ]:
 import pandas as pd
 # Define a dictionary containing Students data
 data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
 'Height': [5.1, 6.2, 5.1, 5.2],
 'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
 # Convert the dictionary into DataFrame
 df = pd.DataFrame(data)
 print(df)
 # Declare a list that is to be converted into a column
 address = ['Nablus', 'Alquds', 'Gaza', 'Haifa']
 # Using 'Address' as the column name and equating it to the list
 df['Address'] = address
 # Observe the result
 print(df)

     Name  Height Qualification
0   Ahmad     5.1           Msc
1     Ali     6.2            MA
2    Omar     5.1           Msc
3  Hamzah     5.2           Msc
     Name  Height Qualification Address
0   Ahmad     5.1           Msc  Nablus
1     Ali     6.2            MA  Alquds
2    Omar     5.1           Msc    Gaza
3  Hamzah     5.2           Msc   Haifa

**Task 1.8:** Add a new column (on the dataframe above) named Age with the following
 values [21, 23, 24, 21] and make it the third column.

In [ ]:
# Define the new 'Age' column
new_age_values = [21, 23, 24, 21]

# Insert the new column into the DataFrame at the desired position
df.insert(loc=2, column='Age', value=new_age_values)

# Print the modified DataFrame
print(df)

     Name  Height  Age Qualification Address
0   Ahmad     5.1   21           Msc  Nablus
1     Ali     6.2   23            MA  Alquds
2    Omar     5.1   24           Msc    Gaza
3  Hamzah     5.2   21           Msc   Haifa

In [ ]:
 import pandas as pd
 # Define a dictionary containing Students data
 data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Height': [5.1, 6.2, 5.1, 5.2],
 'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
 'Age': [21, 23, 24, 21]}
 # Convert the dictionary into DataFrame
 df = pd.DataFrame(data)
 print(df)
 # dropping passed columns
 df1 = df.drop(["Height"], axis = 1)
 # Observe the result
 print(df)
 print(df1)

     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name Qualification  Age
0   Ahmad           Msc   21
1     Ali            MA   23
2    Omar           Msc   24
3  Hamzah           Msc   21

 **Task 1.9:** Remove column Height and column Age from the existing referring
 dataframe.

In [ ]:
# Remove the "Height" and "Age" columns from the DataFrame
df = df.drop(columns=['Height', 'Age'])

print(df)

     Name Qualification
0   Ahmad           Msc
1     Ali            MA
2    Omar           Msc
3  Hamzah           Msc

In [ ]:
 import pandas as pd
 technologies= {
 'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
 'Fee' :[22000,25000,23000,24000,26000],
 'Duration':['30days','50days','35days', '40days','55days'],
 'Discount':[1000,2300,1000,1200,2500]
 }
 df = pd.DataFrame(technologies)
 print(df)
 # New list to append Row to DataFrame
list = ["Hyperion", 27000, "60days", 2000]
 df.loc[len(df)] = list
 print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days      2500
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000

 **Task 1.10**: use .iloc to insert the new row above into the second position of the
 DataFrame.

In [ ]:
# New row data
new_row = ["Hyperion", 27000, "60days", 2000]

# Use iloc to insert the new row into the second position of the DataFrame
df = df.iloc[:1].append(pd.Series(new_row, index=df.columns), ignore_index=True).append(df.iloc[1:], ignore_index=True)

# Print the updated DataFrame
print(df)

    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1  Hyperion  27000   60days      2000
2   PySpark  25000   50days      2300
3    Hadoop  23000   35days      1000
4    Python  24000   40days      1200
5    Pandas  26000   55days      2500
6  Hyperion  27000   60days      2000

<ipython-input-83-09702e545082>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.iloc[:1].append(pd.Series(new_row, index=df.columns), ignore_index=True).append(df.iloc[1:], ignore_index=True)
<ipython-input-83-09702e545082>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.iloc[:1].append(pd.Series(new_row, index=df.columns), ignore_index=True).append(df.iloc[1:], ignore_index=True)

In [ ]:
 import pandas as pd
 import numpy as np
 technologies = {
 'Courses':["Spark","PySpark","Hadoop","Python"],
 'Fee' :[20000,25000,26000,22000],
 'Duration':['30day','40days',np.nan, None],
 'Discount':[1000,2300,1500,1200]
 }
 indexes=['r1','r2','r3','r4']
 df = pd.DataFrame(technologies,index=indexes)
 print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

In [ ]:
 df1 = df.drop(['r1','r2'])
 print(df1)

   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

In [ ]:
df1 = df.drop(index=['r1','r2'])
print(df1)

   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

In [ ]:
 df1=df.drop(df.index[[1,3]])
 print(df1)

   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000      NaN      1500

In [ ]:
df=df.drop(df.index[0])

In [ ]:
 df=df.drop(df.index[-1])

In [ ]:
 df1=df.drop(df.index[2:])
 print(df1)

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500

In [ ]:
 df = pd.DataFrame(technologies)
 df1 = df.drop(0)
 df3 = df.drop([0, 3])
 df4 = df.drop(range(0,2))

In [ ]:
 df.drop(df[df['Fee'] >= 24000].index, inplace = True)

In [ ]:
 df2 = df[df.Fee >= 24000]

In [ ]:
 df2 = df.loc[df["Fee"] >= 24000]

 Task 1.11: delete all rows with Fee >= 2200 and Discount == 2300. Save the result in a
 f
 ile named task.csv

In [ ]:
df.drop(df[(df['Fee'] >= 2200) & (df['Discount'] == 2300)].index, inplace=True)
df.to_csv('task.csv', index=False)

 Task 1.12: Write a code to delete all rows with a Non/NaN value.

In [ ]:
df.dropna(inplace=True)
print(df)

  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000

 Task 1.13: Write a code to delete all rows having courses equal to Spark or Hadoop.

In [ ]:
df = df.drop(df[(df['Courses'] == 'Spark') | (df['Courses'] == 'Hadoop')].index, inplace=True)
print(df)

None

In [ ]:
 import pandas as pd
 # Create two sample DataFrames
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']})
 df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
 'B': ['B4', 'B5', 'B6', 'B7'],
 'C': ['C4', 'C5', 'C6', 'C7'],
 'D': ['D4', 'D5', 'D6', 'D7']})
 # Concatenate the DataFrames vertically
 result = pd.concat([df1, df2])
 print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

 Task 1.14: Perform the concatenation in the above example along columns.

In [ ]:
result = pd.concat([df1, df2], axis=1)
print(result)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [ ]:
import pandas as pd

# Creating DataFrame df1
df1 = pd.DataFrame({
    'id': [1, 4, 3, 4],
    'data1': ['A', 'B', 'C', 'D']
})

# Creating DataFrame df2 with common 'id' data
df2 = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'data2': ['X', 'Y', 'Z', 'W']
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   id data1
0   1     A
1   4     B
2   3     C
3   4     D

DataFrame 2:
   id data2
0   3     X
1   4     Y
2   5     Z
3   6     W

In [ ]:
df = pd.merge(df1, df2, on='id')
print(df)

   id data1 data2
0   4     B     Y
1   4     D     Y
2   3     C     X

In [ ]:
df1.merge(df2,on='id',
 how='left')

   id data1 data2
0   1     A   NaN
1   4     B     Y
2   3     C     X
3   4     D     Y

In [ ]:
df = pd.merge(df1, df2,
 how='right')
df

   id data1 data2
0   3     C     X
1   4     B     Y
2   4     D     Y
3   5   NaN     Z
4   6   NaN     W

In [ ]:
df = pd.merge(df1, df2,
 how='outer')
df

   id data1 data2
0   1     A   NaN
1   4     B     Y
2   4     D     Y
3   3     C     X
4   5   NaN     Z
5   6   NaN     W

In [ ]:
 df3 = df1.merge(df2,
 on='id', how='left',
 indicator=True)
 print(df3)
 df = df3.loc[df3['_merge'] == 'left_only']
 df

   id data1 data2     _merge
0   1     A   NaN  left_only
1   4     B     Y       both
2   3     C     X       both
3   4     D     Y       both

   id data1 data2     _merge
0   1     A   NaN  left_only

In [ ]:
df3 = df1.merge(df2,
 on='id', how='right',
indicator=True)
df = df3.loc[df3['_merge']
 == 'right_only', 'id']
d =df2[df2['id'].isin(df)]
print(df3)
print(df)
d

   id data1 data2      _merge
0   3     C     X        both
1   4     B     Y        both
2   4     D     Y        both
3   5   NaN     Z  right_only
4   6   NaN     W  right_only
3    5
4    6
Name: id, dtype: int64

   id data2
2   5     Z
3   6     W

In [ ]:
df3 = df1.merge(df2, left_on='id', right_on='id', how='outer', indicator=True)

# Filter out rows where the merge indicator is 'both'
d = df3.loc[df3['_merge'] != 'both']

print(d)

   id data1 data2      _merge
0   1     A   NaN   left_only
4   5   NaN     Z  right_only
5   6   NaN     W  right_only

In [ ]:
d = df1.merge(df2, left_on='id', right_on='id')

print(d)

   id data1 data2
0   4     B     Y
1   4     D     Y
2   3     C     X

In [ ]:
# Merge DataFrame 1 and DataFrame 2 on 'id' column
d = df1.merge(df2, on=['id'])

print(d)

   id data1 data2
0   4     B     Y
1   4     D     Y
2   3     C     X

Task1.16:Lets say that we want to merge frames df1 and df2 using a left outer join,Select all the columns from df1 but only column colE fromdf2.

In [ ]:
merged_df = pd.merge(df1, df2[['id', 'data2']], on='id', how='left')

print(merged_df)

   id data1 data2
0   1     A   NaN
1   4     B     Y
2   3     C     X
3   4     D     Y